services:
  - type: web
    name: gold-price-vietnam
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DB_PASS
        sync: false
      - key: DB_URL
        sync: false
      - key: DB_USER
        sync: false
      - key: NEXTAUTH_SECRET
        generateValue: true
      - key: NEXTAUTH_URL
        value: https://gold-price-vietnam.onrender.com
    healthCheckPath: /
    autoDeploy: true
    branch: main


